<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RAH Infotech | Career</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="../css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="../css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="../css/style-blue.css">
    <link rel="stylesheet" type="text/css" href="../css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

    <script>
        new WOW().init();

        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
    </script>

    <script type="text/javascript" src="../js/modernizr.custom.js"></script>

    <style type="text/css">
        .collapsible {
          background-color: #777;
          color: white;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
        }

        .active, .collapsible:hover {
          background-color: #555;
        }

        .collapsible:after {
          content: '\002B';
          color: white;
          font-weight: bold;
          float: right;
          margin-left: 5px;
        }

        .active:after {
          content: "\2212";
        }

        .content {
          padding: 0 18px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          background-color: #f1f1f1;
        }
    </style>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top on">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
              <img src="img/rah_logo.png" style="width: 70%;">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#tf-home" class="page-scroll">Home</a></li>
            <li><a href="/#tf-about" class="page-scroll">Company</a></li>
            <li><a href="/#tf-services" class="page-scroll">Solutions</a></li>
            <li><a href="/#tf-works" class="page-scroll">Products</a></li>
            <li><a href="/services" class="page-scroll">Services</a></li>
            <li><a href="#" class="page-scroll">Support</a></li>
            <li><a href="https://rahinfotech.wordpress.com/" class="page-scroll">Blog</a></li>
            <!-- <li><a href="/#tf-contact" class="page-scroll">Contact Us</a></li> -->
            <li><a href="http://www.rahinfotech.com/contact-us.php" class="page-scroll">Contact Us</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="media-home" class="text-center" style="background: url(img/hr.jpg);background-size: cover;background-position: center;background-attachment: fixed;background-repeat: no-repeat;color: #cfcfcf; height: 350px;">
        <div class="overlay">
            <div class="content-1 wow fadeIn" data-wow-duration="3s">
                <h1 style="color: #fff;"><strong>Career</strong></h1>
            </div>
        </div>
    </div>

<!--     <div id="product-home" class="text-center" style="background: url(img/hr.jpg);background-size: cover;background-position: center;background-attachment: fixed;background-repeat: no-repeat;color: #cfcfcf;">
        <div class="overlay">
            <div class="content wow fadeIn" data-wow-duration="3s">
                <h1><strong>Career</strong></h1>
                <a href="#product-about" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div> -->

    <!-- About Us Page
    ==========================================-->
    <div id="product-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center" style="margin-top: 10px;">
                    <center>
                    <div style="width: 90%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                        <img src="img/team2.jpg" style="width: 100%; border-radius: 7px;">
                    </div>
                    </center>
                </div>
                <div class="col-md-6" style="margin-top: 10px;">
                    <div class="about-text">
                        <div class="section-title">
                            <h2><strong>Who We Are</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>

                        <p>We are India’s fastest growing technology value added distributor for four years in a row and on a mission to provide the most advanced technological solutions to our channel partners and customers.</p>

                        <p>RAH Infotech is amongst country’s top value added distributors with an extensive portfolio of information management solutions. We are looking for people who share our passion and possess entrepreneurial spirit to take the organization to next level.</p>
                        
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="col-md-12">
                    <h3>Benefits</h3>

                    <p>We like to stay on the forefront of innovation. Working with us exposes you to some of the best technologies in the industry and work with customers that are driving the next phase of evolution. Opportunity to Learn and Growth, Work life balance, Continuous Training sessions, Reward programs for everyone, Health benefits.</p>

                    <h3>Work Culture</h3>

                    <p>We share a common set of beliefs, values and practices. Our culture is the foundation of our success and it is completely people oriented, touching lives and making a difference to employees, customers and partners alike. We believe that excellence is not a destination but a journey of continuous improvement and we keenly promote an open culture, encouraging feedback, and actively transforming it into action.</p>

                    <h3>Equal Opportunities</h3>

                    <p>All applicants are considered for employment solely based on their qualifications and competencies. As an employee, you will enjoy equal opportunity in all aspects of employment, including recruitment, training conditions of service and career progression. Furthermore, we are committed to maintaining a workplace where each employee's privacy and personal dignity is respected and protected from offensive or threatening behavior including violence and sexual harassment.</p>

                    <h3>Fun</h3>

                    <p>Work Hard and have fun. Birthday parties, team outings, success celebrations. We are high on spirit more often than not.</p>

                    <h3>Current Openings</h3>

                    <div class="panel-group" id="accordion" style="margin-top: 25px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="text-decoration: none;">
                                Channel Sales Manager</a>
                              </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Functional Area of the Job: Sales/Business Development</p>
                                    <p>Job type: Full time/ Permanent</p>
                                    <p>Total Experience: 7 to 10 Years</p>
                                    <p>Location- Mumbai, Chennai</p>

                                    <p style="font-weight: bold;">Job Description</p>

                                    <ul style="padding-left: 25px;">
                                        <li>Channel experience in selling Security & Networking products</li>
                                        <li>Should be from Distribution background.</li>
                                        <li>Familiar with local resellers / channel</li>
                                        <li>Good OEM connections with proven track record</li>
                                        <li>Handling regional channel distribution, product management</li>
                                        <li>Creating new substantial market base for brand by continuous visits & interactions.</li>
                                        <li>Partner enablement by building partner ecosystem</li>
                                    </ul>

                                    <p style="font-weight: bold;">Qualification</p>

                                    <ul style="padding-left: 25px;">
                                        <li>B.E/Tech with MBA in Sales & marketing with very good communication skills</li>
                                        <li>Techno-commercial person with understanding of solution selling and distribution business</li>
                                        <li>Should be Self-Driven & Motivated Sales person with Can Do Attitude</li>
                                    </ul>

                                    <p style="font-weight: bold;">Competence/Responsibilities</p>

                                    <ul style="padding-left: 25px;">
                                        <li>Strong relationship building skills & techno commercial ability to ascertain client’s requirements.</li>
                                        <li>Ability to take self-initiatives and be proactive.</li>
                                        <li>Ability to handle multiple tasks/responsibilities without compromising quality by prioritizing job profile.</li>
                                        <li>Strong sense of urgency & efficiency in meeting stringent deadlines.</li>
                                        <li>Determining winning strategies by applying innovative ideas & offering valued added services/solutions to solute the client’s trouble zone.</li>
                                        <li>Believe in being creative & innovative so that I can add value to the assigned work.</li>
                                        <li>Ability to interact in professional values & being reliable with all levels within and outside the company.</li>
                                        <li>Ability to grasp product knowledge/technology promptly with approach to accept challenges in PRE SALES & POST SALES.</li>
                                        <li>Always having approach to resolve/solute the problem for enhancing customer satisfaction.</li>
                                        <li>Ability to work in team & build up brand recognition.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="text-decoration: none;">
                                Manager – Enterprise Sales</a>
                              </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Functional Area of the Job: Sales/Business Development</p>
                                    <p>Job type: Full time/ Permanent</p>
                                    <p>Total Experience: 7 to 10 Years</p>
                                    <p>Location- Mumbai, Chennai</p>

                                    <p style="font-weight: bold;">Qualification</p>

                                    <ul style="padding-left: 25px;">
                                        <li>B.E/Tech with MBA in Sales & marketing with very good communication skills</li>
                                        <li>Techno-commercial person with understanding of solution selling and distribution business</li>
                                        <li>Should be Self-Driven & Motivated Sales person with Can Do Attitude.</li>
                                    </ul>

                                    <p style="font-weight: bold;">Job Description</p>

                                    <ul style="padding-left: 25px;">
                                        <li>Sell with strategic supervision, our offerings persuasively, persistently and confidently to decision makers at the manager, director or C-level across Enterprise accounts while reaching optimal profit levels.</li>
                                        <li>Consistently meet or exceed sales budgets, forecast, and company objectives</li>
                                        <li>Work closely with OEM Partners and should develop a personal repo with each of our vendors and partners</li>
                                        <li>Should be self- driven, hardworking, honest, motivated and should possess some natural skills of entrepreneur</li>
                                        <li>Should be a strong team player and happy going personality, easy to become friend with team mates, work very closely with Presales and Post Sales Team</li>
                                        <li>Establish and execute enterprise sales strategy with direct and strategic accounts</li>
                                        <li>Manage ongoing sales process, develop relationships, respond to and anticipate customer needs with a focus on selling bundled solutions where applicable.</li>
                                        <li>Build partnering relationships with prospects and customers responsible for the decision making process to drive the system technology sales of our offerings.</li>
                                        <li>Actively listen, probe and identify concerns. Understand the customer's business and speak their language.</li>
                                        <li>Seek out, target and initiate contact with key contacts responsible for the decision making of solutions purchases in target markets.</li>
                                        <li>Address customer's operational and financial objectives, needs and requirements.</li>
                                        <li>Works with channel manager and solutions managers to develop customer-specific product and service proposals, pricing and/or promotional offerings.</li>
                                        <li>Grow and manage multi-million dollar pipeline in geographic territory</li>
                                        <li>Diversify pipeline portfolio to include a growing percentage of Solution selling and IT products in Networking and Security portfolio.</li>
                                        <li>Utilize applicable sales tools effectively to plan, communicate and document progress as well as increase business opportunity in accounts. Manage process steps of the pipeline with a focus on next steps, action items and milestone dates.</li>
                                        <li>Provide accurate forecasting for monthly, quarterly, annual, and multi-year sales by account and for the region</li>
                                        <li>Convert pipeline into profitable sales revenue</li>
                                        <li>Set strategic sales direction for assigned accounts and our partners as required</li>
                                        <li>Recommend solutions and link customer objectives to total value solution and competitive advantage.</li>
                                        <li>Coordinate proposals and proposal strategies across the enterprise</li>
                                        <li>Take strategic leadership role in proposing development of new products and service offerings</li>
                                        <li>Analyze products and service offerings against competition, markets, and customer business needs communicate to corporate strategy and solutions management</li>
                                        <li>Convert analysis into new sales “learnings” into strategies and sales initiatives</li>
                                        <li>Work with customers to analyze “sold” products, solutions, and developing customer needs to drive repeat/organic business</li>
                                        <li>Determine and lead strategic sales direction for opportunities and accounts managed and in sales pipeline</li>
                                        <li>Ability to direct, manage and utilize our resources to advance partnerships and sales opportunities</li>
                                        <li>Proven ability to manage time, priorities, travel, and management and company requirements</li>
                                    </ul>

                                    <p style="font-weight: bold;">Competency</p>

                                    <ul style="padding-left: 25px;">
                                        <li>Bachelor’s Degree (engineering discipline preferred), Masters/MBA preferred</li>
                                        <li>Minimum of 8-10 years “Solutions Selling” experience in Enterprise accounts</li>
                                        <li>Experience selling Solution and IT Products for Networking and Security Portfolio.</li>
                                        <li>Demonstrated record of building and managing a sales pipeline and resulting closed sales</li>
                                        <li>Clear track record of carrying challenging sales quotas and meeting/exceeding annual goals for IT products/services/solution offerings in key Enterprise account and should provide the reference of his customer</li>
                                        <li>Proven Sales management skills and ability to meet critical deadlines while managing multiple priorities across the organization</li>
                                        <li>Excellent written and oral communications skills, should be a great listener</li>
                                        <li>Go Getter with Positive attitude, honest and hardworking.</li>
                                        <li>Computer proficiency in Microsoft Word, Excel, PowerPoint, Outlook and tools like CRM etc.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    
    
    

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2018. Designed by <a href="https://ocl.space" target="_blank">Opencube Labs</a> and Coded by <a href="https://sertify.me/surajjana" target="_blank">Suraj Jana</a></p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <script src="js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>