<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RAH Infotech | Connecting and securing your world</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style-blue.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

    <script>
      new WOW().init();
    </script>

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#sub-btn').click(function(){
                var name = document.getElementById('name').value;
                var email = document.getElementById('email').value;
                var msg = $('textarea').val()

                $('#loader').css('display', 'block')
                $('#req-msg').css('display', 'none')


                $.get('/add_ticket?name='+name+'&email='+email+'&msg='+msg, function(data){
                    $('#loader').css('display', 'none')
                    $('#req-msg').css('display', 'block')

                    console.log(data)
                })
            })
        })
    </script>

    <style type="text/css">

        .iframe-container{ 
            position: relative; 
            width: 100%; 
            padding-bottom: 56.25%; 
            height: 0; 
        } 

        .iframe-container iframe{ 
            position: absolute; 
            top:0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
        }

    </style>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="nav navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
              <img src="img/rah_logo.png" style="width: 70%;">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-home" class="page-scroll">Home</a></li>
            <li><a href="#tf-about" class="page-scroll">Company</a></li>
            <li><a href="#tf-services" class="page-scroll">Solutions</a></li>
            <li><a href="#tf-works" class="page-scroll">Products</a></li>
            <li><a href="/services" class="page-scroll">Services</a></li>
            <li><a href="/support" class="page-scroll">Support</a></li>
            <li><a href="https://rahinfotech.wordpress.com/" class="page-scroll">Blog</a></li>
            <!-- <li><a href="#tf-contact" class="page-scroll">Contact Us</a></li> -->
            <li><a href="http://www.rahinfotech.com/contact-us.php" class="page-scroll">Contact Us</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content wow fadeIn" data-wow-duration="3s">
                <center>
                    <div style="width: 35%; background-color: #fff; padding: 5px;">
                        <img src="img/small.gif" style="width: 100%;">    
                    </div>
                </center>
                <h1>Welcome to <strong><span class="color">RAH Infotech</span></strong></h1>
                <p class="lead"><strong>CONNECTING</strong> AND <strong>SECURING</strong> YOUR WORLD</p>
                <!-- <a href="#tf-about" class="fa fa-angle-down page-scroll"></a> -->
                
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-6">
                    <div class="iframe-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/DHtMAq-tHL8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>About us</h4>
                            <h2>Some words <strong>about us</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro" style="text-align: justify; text-justify: inter-word;">RAH Infotech was established in 2005 with a focus on providing state-of-the-art technology
solutions in association with Global IT leaders. In over a decade of its operations, RAH Infotech has
been consistently providing world class IT solutions to a large number of channel partners and
corporates in India and SAARC countries. Headquartered in Gurgoan, RAH Infotech has presence
across the country with International presence in Netherlands, Singapore, UAE, UK and USA.
</p>
                        <br>
                        <a href="/events" style="color: #fff; text-decoration: none;"><button class="btn btn-primary">Events</button></a>
                        <a href="/media" style="color: #fff; text-decoration: none;"><button class="btn btn-primary">Press</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Clients Section
    ==========================================-->
    <div id="tf-clients" class="text-center">
        <div class="overlay">
            <div class="container">

                <div class="section-title center">
                    <h2>Our <strong>Technology Partners</strong></h2>
                    <div class="line">
                        <!-- <hr> -->
                    </div>
                </div>
                <div id="clients" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="img/new_partners/acronis.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/actifio.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/cambium.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/exinda.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/exordior.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/fatpipe.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/forescout.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/fsecure.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/gemalto.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/genienetworks.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/infoblox.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/innefu.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/ipswitch.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/ixia.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/kemp.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/mikrotik.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/quest.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/radware.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/rapid7.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/sanovi.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/seclore.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/skybox.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/smokescreen.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/soti.png">
                    </div>
                    <div class="item">
                        <img src="img/new_partners/winmagic.png">
                    </div>
                </div>

            </div>
        </div>
    </div>
    

    <!-- Services Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>Take a look at <strong>our solutions</strong></h2>
                <div class="line">
                    <!-- <hr> -->
                </div>
                <div class="clearfix"></div>
                <!-- <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em></small> -->
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-4 col-sm-6 service wow fadeInUp" data-wow-duration="2s" style="margin-top: 15px;">
                    <i class="fa fa-shield"></i>
                    <h4><strong>Information Security</strong></h4>
                    <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    <a href="/solution?sol_id=3" style="color: #fff; text-decoration: none;"><button class="btn btn-primary">Read More</button></a>
                </div>

                <div class="col-md-4 col-sm-6 service wow fadeInUp" data-wow-duration="2s" style="margin-top: 15px;">
                    <i class="fa fa-sitemap"></i>
                    <h4><strong>Networking</strong></h4>
                    <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    <a href="/solution?sol_id=4" style="color: #fff; text-decoration: none;"><button class="btn btn-primary">Read More</button></a>
                </div>

                <div class="col-md-4 col-sm-6 service wow fadeInUp" data-wow-duration="2s" style="margin-top: 15px;">
                    <i class="fa fa-wifi"></i>
                    <h4><strong>Wireless/Wifi</strong></h4>
                    <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    <a href="/solution?sol_id=1" style="color: #fff; text-decoration: none;"><button class="btn btn-primary">Read More</button></a>
                </div>            

                <div class="col-md-2" style="margin-top: 15px;"></div>

                <div class="col-md-4 col-sm-6 service wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s" style="margin-top: 15px;">
                    <i class="fa fa-cloud"></i>
                    <h4><strong>Cloud Computing/Virtualization</strong></h4>
                    <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    <a href="/solution?sol_id=2" style="color: #fff; text-decoration: none;"><button class="btn btn-primary">Read More</button></a>
                </div>

                <div class="col-md-4 col-sm-6 service wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s" style="margin-top: 15px;">
                    <i class="fa fa-database"></i>
                    <h4><strong>Backup/DR/DaaS</strong></h4>
                    <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    <a href="/solution?sol_id=5" style="color: #fff; text-decoration: none;"><button class="btn btn-primary">Read More</button></a>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Portfolio Section
    ==========================================-->
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2>Take a look at <strong>our products</strong></h2>
                <div class="line">
                    <!-- <hr> -->
                </div>
                <div class="clearfix"></div>
                <!-- <small><em>Brief product introduction goes here.. this is dummy data here for now..</em></small> -->
            </div>
            <div class="space"></div>

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=acronis">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/acronis.png" style="width: 80%;">
                        </div>  
                    </a>                  
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=actifio">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/actifio.png" style="width: 80%;">
                        </div>
                    </a>                    
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=arcon">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/arcon.png" style="width: 80%;">
                        </div>     
                    </a>               
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=cambium">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/cambium.png" style="width: 80%;">
                        </div> 
                    </a>                   
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=exinda">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/exinda.png" style="width: 80%;">
                        </div>            
                    </a>        
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=exordior">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/exordior.png" style="width: 80%;">
                        </div>    
                    </a>                
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=fatpipe">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/fatpipe.png" style="width: 80%;">
                        </div>   
                    </a>                 
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=forescout">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/forescout.png" style="width: 80%;">
                        </div>   
                    </a>                 
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=fsecure">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/fsecure.png" style="width: 80%;">
                        </div> 
                    </a>                   
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=gemalto">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/gemalto.png" style="width: 80%;">
                        </div>       
                    </a>             
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=genienetworks">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/genienetworks.png" style="width: 80%;">
                        </div>           
                    </a>         
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=infoblox">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/infoblox.png" style="width: 80%;">
                        </div> 
                    </a>                   
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=innefu">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/innefu.png" style="width: 80%;">
                        </div>      
                    </a>              
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=ipswitch">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/ipswitch.png" style="width: 80%;">
                        </div>              
                    </a>      
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=ixia">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/ixia.png" style="width: 80%;">
                        </div>  
                    </a>                  
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=kemp">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/kemp.png" style="width: 80%;">
                        </div>    
                    </a>                
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=mikrotik">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/mikrotik.png" style="width: 80%;">
                        </div>  
                    </a>                  
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=quest">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/quest.png" style="width: 80%;">
                        </div>       
                    </a>             
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=radware">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/radware.png" style="width: 80%;">
                        </div>     
                    </a>               
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=rapid7">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/rapid7.png" style="width: 80%;">
                        </div> 
                    </a>                   
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=sanovi">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/sanovi.png" style="width: 80%;">
                        </div>    
                    </a>                
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=seclore">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/seclore.png" style="width: 80%;">
                        </div>      
                    </a>              
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=skybox">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/skybox.png" style="width: 80%;">
                        </div> 
                    </a>                   
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=smokescreen">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/smokescreen.png" style="width: 80%;">
                        </div> 
                    </a>                   
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=soti">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/soti.png" style="width: 80%;">
                        </div> 
                    </a>                   
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 text-center" style="margin-top: 15px;">
                    <a href="/p?n=winmagic">
                        <div style="background-color: #fff; width: 100%; border-radius: 7px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                            <img src="img/new_partners/winmagic.png" style="width: 80%;">
                        </div>   
                    </a>                 
                </div>
            </div>

            <!-- <div class="categories">
                
                <ul class="cat">
                    <li class="pull-left"><h4>Filter by Type:</h4></li>
                    <li class="pull-right">
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".web">Type 1</a></li>
                            <li><a href="#" data-filter=".photography">Type 2</a></li>
                            <li><a href="#" data-filter=".app" >Type 3</a></li>
                            <li><a href="#" data-filter=".branding" >Type 4</a></li>
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div> -->

            <!-- <div id="lightbox" class="row">

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Acronis</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/products/acronis.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Actifio</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/products/actifio.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Cambium</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/products/cambium.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Exinda</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/products/exinda.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Fat Pipe</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/products/fatpipe.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Fore Scout</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/products/forescout.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>F Secure</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/products/fsecure.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Gemalto</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/products/gemalto.png" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

            </div> -->
        </div>
    </div>

    <!-- Testimonials Section
    ==========================================-->
    <div id="tf-testimonials" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong>Our clients’</strong> testimonials</h2>
                    <div class="line">
                        <!-- <hr> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="testimonial" class="owl-carousel owl-theme">
                            <div class="item wow fadeIn" data-wow-duration="3s">
                                <h5>To respond an increasingly complex IT Infrastructure requirements we needed a distribution partner who could gain an understanding of our customers' business and find cutting edge solutions that fuel Digital Transformation. From the viewpoint of technical ability, business and personal relations we have found RAH Infotech to be the best in business.</h5>
                                <p><strong>Nikhil Pawar</strong>, Director Krithva Computers</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2>Feel free to <strong>contact us</strong></h2>
                        <div class="line">
                            <!-- <hr> -->
                        </div>
                        <div class="clearfix"></div>
                        <!-- <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em></small> -->            
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email Id</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Message</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>

                    
                    
                    <button id="sub-btn" type="" class="btn btn-primary">Submit</button>
                    <img src="img/loader.gif" style="width: 5%; display: none;" id="loader">

                    <p style="color: green; display: none;" id="req-msg">Request sent!</p>

                </div>
            </div>

        </div>
    </div>

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2018. Designed by <a href="https://ocl.space" target="_blank">Opencube Labs</a> and Coded by <a href="https://sertify.me/surajjana" target="_blank">Suraj Jana</a></p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <script src="js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>