<!doctype html>
<html class="no-js" lang="en-GB" prefix="og: http://ogp.me/ns#">

<head>
    <?php require('includes/header-links.php'); ?>
</head>

<body class="page page-id-9 page-template page-template-page-process page-template-page-process-php">
   <?php require('includes/loaders.php'); ?>
    
    <div class="overall" data-body-class="page page-id-9 page-template page-template-page-process page-template-page-process-php" id="top">
        <?php require('includes/menu.php'); ?>
        <main class="main-content ajax-wrapper">
            <section class="section--hero theme--dark" style="background-image: url(images/contact-us.jpg); background-position: center center">
                <div class="wrapper">
                    <h1>Contact Us </h1>
                    <a href="#details" class="button--more" data-scrollto> <span class="label">read more</span> </a>
                </div>
            </section>
            <section class="section theme--brand" id="details">
                <article class="wrapper">
                    <div class="mycontent">
                        <p><strong>Our Different Office Locations </strong></p>
                    </div>
                </article>
            </section>
            <section class="section--process">
                <article class="wrapper">
                    <div class="section-introduction  mysection-intro">
                        <div class="introduction">
                            <div class="mycontent1">
 
                                <div class="locationss">
                                    <h3>Gurgoan (HO)</h3> 6 A/B/C, Tower B-4, Spaze I-Tech Park, Sohna Road, Sector-49, Gurgaon-122018 HARYANA.
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.1787981602397!2d77.03998981456353!3d28.41386130069605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d229af8f7d3ab%3A0xf06b25a043bf1acc!2sTower+A%2C+Spaze+iTech+Park%2C+Sohna+-+Gurgaon+Rd%2C+Block+S%2C+Sector+49%2C+Gurugram%2C+Haryana+122018!5e0!3m2!1sen!2sin!4v1498724169126"  frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                <div class="locationss">
                                    <h3>Bangalore</h3> #304A, 3rd Floor, HVS Court, Cunningham Road, Opp. Indian Express, Bangalore-560052.&nbsp;KARNATAKA.
                                
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1335.4090519546853!2d77.5971485080296!3d12.98560864958456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16660f51a095%3A0xf22b3b5cf09f0b1a!2sRAH+INFOTECH+PVT.+LTD!5e0!3m2!1sen!2sin!4v1498724227352"  frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                <div class="locationss">
                                    <h3>Chennai</h3> #5, Old 27, F12 , 3rd Floor, 10th Avenue, Ashok Nagar, Chennai-600083.<br/><br/>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.10034833487!2d80.20597331431489!3d13.029281317136421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52672191bc068b%3A0x661ae9f86087a639!2s2nd+St%2C+Kasi+Estate%2C+West+Jafferkhanpet%2C+Chennai%2C+Tamil+Nadu+600083!5e0!3m2!1sen!2sin!4v1498724303065"  frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                <div class="locationss">
                                    <h3>Hyderabad</h3> 1-7-P32, Flat No. 208, Block-B, Panchasheela Tower, Park Lane, Hyderabad-500003, ANDHRA PRADESH 
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.3966967274087!2d78.4878314143637!3d17.440717105856635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9a108575ba73%3A0x19b68a8f7e50e528!2s208%2C+Park+Ln%2C+Sandhu+Apartment%2C+Kalasiguda%2C+Secunderabad%2C+Telangana+500003!5e0!3m2!1sen!2sin!4v1498724416309"  frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                <div class="locationss">
                                    <h3>Jaipur</h3> Plot No. 12, Ground Floor, Manav Ashram Colony, Gopalpura Maod, Tonk Road, Jaipur-302018, RAJASTHAN 
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.066897017732!2d75.80456001452748!3d26.805998471130287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396dca1b5038a9a9%3A0xa24dd2ea3059014c!2sTonk+Rd%2C+Jaipur%2C+Rajasthan!5e0!3m2!1sen!2sin!4v1498724490799"  frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                <div class="locationss">
                                    <h3>Kolkata</h3>                                    
                                    ST-38, 4th Floor, Shri Manjari, 8/1 A, Sir William Jones Sarani,  Kolkata 700071
                                  <br/><br/>
                                    
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.7746577084567!2d88.35088851449791!3d22.550112585194295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02771a9e1ff75d%3A0x3acf738e9d3ad6b8!2sSHREE+MANJARI!5e0!3m2!1sen!2sin!4v1515043129916" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                                <div class="locationss">
                                    <h3>Mumbai</h3> G-10, A wing, Kanara Business Center, Laxmi Nagar, Off Link Road, Ghatkopar (E), Mumbai – 400075
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31407806.78468889!2d65.90653954366616!3d16.067524416707087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c7cc82231881%3A0xb5b15e1fa1d9ecc9!2sRAH+Infotech!5e0!3m2!1sen!2sin!4v1498724565600"  frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                        
                                <div class="locationss">
                                    <h3>New Delhi (Regtd. Office)</h3> A-11, Okhla Industrial Area, Phase 1, New Delhi - 110020.<br/><br/>
                                
                     
                                    
                                    
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.317856634843!2d77.2734700146415!3d28.530164282458237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce150a3250023%3A0x5f9ae2070ec7563f!2sRAH+Infotech+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1515042850473" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                <div class="locationss">
                                    <h3>International offices</h3> Dubai, Nepal, Singapore, UK & USA <br/>
                                    <h3>Support</h3> Sales enquiries: 8010855000  <br/>Technical support: 1800-266-0108 <br/> Email: sales@rahinfotech.com </div>
                              
                            </div>
                            <p>&nbsp;</p>
                            
                             <p class="lead headings">&nbsp;&nbsp; We really appreciate you taking the time to get in touch. Please fill in the form.</p>
                                 <div class="mycontent1">
                                     <div class="fifty">
                     <form class="contact-form" data-form="contact">
    <div class="input-group--placeholder">
        <label>name</label>
        <input name="name" placeholder="Name" type="text"> <span class="error-message">Please fill in correctly</span></div>
                         
                         
    <div class="input-group--placeholder">
        <label>e-mail</label>
        <input name="email" placeholder="E-mail" type="email"> <span class="error-message">Please fill in correctly</span></div>
                           <div class="input-group--placeholder">
        <label>Subject</label>
        <input name="email" placeholder="Subject" type="email"> <span class="error-message">Please fill in correctly</span></div>
    <div class="input-group--placeholder">
        <label>message</label>
        <textarea name="message" placeholder="Message"></textarea><span class="error-message">Please fill in correctly</span></div>
    <div class="button-group has-ajax-message">
        <button class="button has-hover" type="submit"> <span class="label">send</span> </button>
        <div class="ajax-message ok">Your message has been sent.</div>
        <div class="ajax-message error">Error. Please correct.</div>
    </div>
</form>
                   </div>          <div class="fifty">           
                                            <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224563.67561607127!2d76.84969407454254!3d28.425066916326806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19d582e38859%3A0x02cf5fe8e5c64b1e!2sGurgaon%2C+Haryana!5e0!3m2!1sen!2sin!4v1451141973749" allowfullscreen="allowfullscreen" width="100%" height="300" frameborder="0" class=""></iframe>
                                     </div>
                            </div>

                            
                           
                        </div>
                    </div>
                </article>
            </section>
            <section class="section--feature">
                <div class="wrapper">
                    <article class="features theme--brand">
                        <div class="feature">
                            <div class="feature-content"> </div>
                        </div>
                    </article>
                    <article class="features theme--brand">
                        <div class="feature">
                            <div class="feature-content"> </div>
                        </div>
                    </article>
                    <article class="features theme--brand">
                        <div class="feature">
                            <div class="feature-content"> </div>
                        </div>
                    </article>
                </div>
            </section>
           <?php require('includes/presence.php'); ?>
        </main>
        <?php require('includes/footer.php'); ?>
    </div>
 <?php require('includes/footerjs.php'); ?>
</body>

</html>